body {
	font-family: "Nunito", sans-serif;
	/* font-family: "Mulish", sans-serif; */
	background-color: #f7f7f7;
	color: #05171b;
}

#canvas-container {
	position: relative;
}

h1 {
	font-size: 4em;
	text-align: center;
}

h2 {
	font-size: 1.6em;
	text-align: center;
	font-weight: 800;
	line-height: 2em;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: #dbff00;
	text-decoration-thickness: 6px;
	text-decoration-skip-ink: none;
}
#highlight_content {
	font-weight: 800;
	text-transform: uppercase;
	/* text-decoration: underline;
	text-decoration-color: #dbff00;
	text-decoration-thickness: 6px;
	text-decoration-skip-ink: none; */
}
h3 {
	font-size: 3em;
	line-height: 3em;
	font-weight: 1000;
	text-align: center;
	margin: 0 2em;
}
#headTitle {
	line-height: 1em;
	margin: 0 1.7em;
	text-align: left;
	color: #383e21;
}
h4 {
	font-size: 1em;
	text-align: center;
	font-weight: 800;
	line-height: 2em;
	text-transform: uppercase;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
	text-align: left;
	margin: 0 6em;
}
.Intro {
	margin: 3em 10em;
}
.card_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	gap: 2em;
}
.card {
	display: flex;
	flex-direction: column;
	margin: 0, 0, 0, 0;
	padding: 1.5em;
	gap: 1em;
	background: #ffffff;
	border: 3px solid #21383e;
	border-radius: 20px;
	font-size: 1em;
	line-height: 1.5em;
	width: 220px;
}
#card1 {
	box-shadow: 12px 12px 0px #8957f4;
}
#card2 {
	box-shadow: 12px 12px 0px #53f4b6;
}
#card3 {
	box-shadow: 12px 12px 0px #f899a3;
}
#card4 {
	box-shadow: 12px 12px 0px #abd0d6;
}

.card_content {
	align-items: stretch;
}
.listTitle {
	font-weight: 800;
}
.tag h3 {
	text-align: left;
	margin: 0;
	line-height: 1em;
	color: #879631;
}
.tag p {
	font-size: 1em;
	font-weight: 700;
	line-height: 2em;
	color: #05171b;
	display: flex;
	flex-direction: column;
	align-items: left;
	margin: 0;
}
#tag {
	margin: 6em 10em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.barTip {
	font-family: "Mulish";
	font-size: 1em;
	font-weight: 700;
	line-height: 2em;
	color: #05171b;
	text-align: left;
}
.barTipCount {
	/* font-family: "Mulish"; */
	font-size: 1em;
	font-weight: 400;
	line-height: 2em;
	color: #05171b;
	text-align: left;
}
img {
	padding: 20px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	background-color: #f7f7f7;
}
.img_tooltip {
	width: 300px;
	height: auto;
	position: fixed;
}
#skeTool {
	width: 300px;
	height: auto;
	border-radius: 12px;
	background: #dbff00;
	box-shadow: 0px 0px 0px 2px #21383e, 4px 6px 0px #05171b,
		inset 2px 2px 0px #eeff84;
	top: 0;
	left: 0;
}
#HISTORY {
	margin-top: 4em;
}
#history {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	/* top: 50%; */
}

.parallax {
	background-color: #000 repeat fixed 100%;
	background-size: cover;
}
.parallax-inner {
	padding-top: 10%;
	padding-bottom: 20%;
}
.parallax-1 {
	background: url("icon factory.png") repeat fixed 100%;
	background-size: cover;
	color: aliceblue;
}
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 1em;
	background-color: #f7f7f7;
	/* padding: 40px; */
}

section {
	height: 80vh;
}

footer {
	height: 20px;
}

.section-title-underlay {
	font-size: 1.6em;
	text-align: center;
	font-weight: 800;
	line-height: 2em;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: #dbff00;
	text-decoration-thickness: 6px;
	text-decoration-skip-ink: none;
	position: fixed;
	left: 50%;
	color: #05171b;
	top: 4em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.section-subTitle-underlay {
	font-size: 3em;
	font-weight: 700;
	position: fixed;
	left: 50%;
	text-align: center;
	color: #05171b;
	text-transform: uppercase;
	top: 4em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.section-detail-underlay {
	font-size: 1.2em;
	line-height: 2em;
	position: fixed;
	left: 50%;
	text-align: center;
	color: #05171b;
	top: 18em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.iconGrid {
	position: fixed;
	top: 28em;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 1em 4em 1em 4em;
	/* fill: "currentColor"; */
	opacity: 1;
}

.tip_title {
	font-weight: 1000;
	font-size: 1.4em;
	line-height: 1.4em;
	text-align: left;
	color: #05171b;
	display: inline-block;
	font-style: italic;
}
.description_tooltip {
	font-weight: 400;
	font-size: 1em;
	text-align: left;
	line-height: 1.5em;
	color: #05171b;
	position: fixed;
	top: 0;
	left: 0;
}
.desc {
	background-color: #fff;
	padding: 20px;
	border-radius: 12px;
	background: #dbff00;
	box-shadow: 0px 0px 0px 2px #21383e, 4px 6px 0px #05171b,
		inset 2px 2px 0px #eeff84;
	max-width: 30rem;
}
.highlightTag {
	font-weight: 700;
	font-size: 0.9em;
	text-align: left;
	line-height: 2.4em;
}

@keyframes rainbow-animation {
	to {
		background-position: 4500vh;
	}
}

.scroll-color {
	font-weight: 1000;
	background-image: linear-gradient(
		to right,
		#f899a3,
		#ffbb63,
		#dbff00,
		#53f4b6,
		#abd0d6,
		#8957f4,
		#f899a3
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-animation 300s linear infinite;
}
#end {
	height: 10em;
	margin-top: 10em;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	background-color: #21383e;
	padding: 4em;
	text-align: left;
	font-size: 1em;
	font-weight: 200;
}
#end p,
#end a {
	font-size: 1em;
	font-weight: 200;
	line-height: 2em;
	text-decoration: none;
	color: rgba(219, 255, 0, 0.4);
}
#end a:hover {
	color: #dbff00;
}

.node_tooltip {
	position: absolute;
	font-family: "Mulish";
	font-size: 1em;
	font-weight: 700;
	line-height: 1.5em;
	color: #05171b;
	text-align: left;
	padding: 0.5em 1em;
	border-radius: 12px;
	background: #dbff00;
	box-shadow: 0px 0px 0px 2px #21383e, 4px 6px 0px #05171b,
		inset 2px 2px 0px #eeff84;
	max-width: 30rem;
}
canvas {
	display: block;
}
#final_1 {
	margin-top: 8em;
	margin-bottom: 12em;
}
#final_1_1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	gap: 6em;
}
.final_card {
	flex: none;
	flex-grow: 0;
	flex-direction: column;
	display: flex;
	background: #f7f7f7;
	box-shadow: -10px -20px 20px rgba(255, 255, 255, 0.9),
		0px 20px 20px rgba(5, 23, 27, 0.1), inset 0px 0px 0px 6px #ffffff,
		inset 0px 0px 0px 8px rgba(33, 56, 62, 0.05);
	border-radius: 20px;
	width: 600px;
}
.final_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 20px;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 3em;
}
.final_row > p {
	margin: 0;
}

.final_row > img {
	background: #f7f7f7;
	color: #21383e;
	border: 3px solid #e9eeef;
	box-shadow: -10px -20px 20px rgba(255, 255, 255, 0.9),
		0px 20px 20px rgba(5, 23, 27, 0.1);
	border-radius: 60px;
}
.final_subTitle {
	font-size: 1.3em;
	font-weight: 700;
	text-align: left;
	margin: 2em;
}
.color_contaner {
	display: flex;
	flex-direction: row;
	gap: 4em;
	justify-content: right;
	margin: 3em 10em;
}
.color_code {
	display: flex;
	flex-direction: row;
	gap: 1em;
}
.quote {
	text-align: left;
	font-size: 4em;
	line-height: 1.5em;
	color: #383e21;
}
#quote1 {
	transform: rotate(10.63deg);
	margin-top: 3em;
	margin-left: 5em;
}
#quote2 {
	transform: rotate(-7.8deg);
	margin: 0.5em 0 0 4em;
}
#quoteBG {
	background-image: url("listIcons/quote_bg.svg");
	background-repeat: no-repeat;
}

.quote-invert {
	text-align: left;
	font-size: 4em;
	line-height: 1.5em;

	padding: 2em 4em 3em 1em;
	color: #dbff00;
}
.text-wrapper {
	overflow: hidden;
	margin-top: 4em;
}

.text {
	overflow: hidden;
	transform: translatey(0px);
	margin-top: 2em;
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
#xdivider {
	margin-top: 10em;
	display: flex;
	justify-content: center;
}
.takeaways {
	font-size: 2em;
}
.takeaway_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.takeaway_container p {
	width: 40vw;
	font-size: 1.4em;
	font-weight: 700;
}
/* -------------------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
.timeline {
	height: auto;
	background-image: url("listIcons/list_bg.svg");
	background-repeat: no-repeat;
}
.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
}
.timeline ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) rotate(45deg);
	width: 20px;
	height: 20px;
	z-index: 2;
}
.timeline ul li div p {
	margin: 0;
	font-weight: 700;
	font-size: 1.3em;
}
.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 2em;
	border: 3px solid #21383e;
	box-shadow: 6px 6px 0px #21383e;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	background: #ffffff;
	/* background-image: url("listIcons/box_bg.svg"); */
	background-repeat: no-repeat;
}
.timeline ul li div img {
	background: none;
}
.timeline ul li nameTag {
	position: absolute;
	color: #05171b;
	width: 8em;
	height: 50px;
	top: -30px;
	left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.6em;
	font-weight: 800;
	background: #dbff00;
	box-shadow: 0px 0px 0px 2px #21383e, 3px 6px 0px #05171b,
		inset 1px 1px 0px #eeff84;
}

.timeline ul li:nth-of-type(odd) > div {
	left: 45px;
}
.timeline ul li:nth-of-type(even) > div {
	left: -439px;
}

.timeline ul li:nth-of-type(odd) div {
	transform: translate3d(100px, -10px, 0) rotate(10deg);
	background-image: url("listIcons/box_bg.svg");
}
.timeline ul li:nth-of-type(even) div {
	transform: translate3d(-100px, -10px, 0) rotate(10deg);
	background-image: url("listIcons/bean_bg.svg");
}
.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
}
@media screen and (max-width: 900px) {
	.timeline ul li div {
		width: 250px;
		flex-direction: column;
	}
	.timeline ul li:nth-of-type(even) > div {
		left: -289px;
	}
}

#zigzag {
	background-image: url("listIcons/zigzag_bg.svg");
	background-repeat: no-repeat;
}
#wave {
	background-image: url("listIcons/wave_bg.svg");
	background-repeat: no-repeat;
}
.filter-green {
	filter: invert(90%) sepia(10%) saturate(735%) hue-rotate(50deg)
		brightness(100%) contrast(100%);
}
.btContainer {
	display: flex;
	justify-content: center;
	gap: 4em;
}
button {
	height: 3em;
	width: 14em;
	color: #05171b;
	font-weight: 700;
	background: #dbff00;
	border: 2px solid #383e21;
	box-shadow: 4px 4px 0px #383e21;
	border-radius: 12px;
}
button:hover {
	background: #c1db29;
	border: 2px solid #05171b;
	border-radius: 12px;
	box-shadow: 4px 4px 0px #05171b;
}
button:active {
	background-color: #c1db29;
	border: 1px solid #05171b;
	border-radius: 12px;
	transform: translateY(4px);
	box-shadow: 1px 1px 0px #05171b;
}
#include {
	display: flex;
}
#include img {
	padding: 0;
	margin-left: auto;
}
