body {
	font-family: "Nunito", sans-serif;
	font-family: "Mulish", sans-serif;
	background-color: #f7f7f7;
}

#canvas-container {
	position: relative;
}

h1 {
	font-family: "Mulish";
	font-size: 4em;
	text-align: center;
	color: #05171b;
}

h2 {
	font-family: "Mulish";
	font-size: 3em;
	text-align: center;
	color: #05171b;
	text-transform: uppercase;
}
h3 {
	font-family: "Mulish";
	font-size: 1.3em;
	line-height: 2em;
	text-align: center;
	color: #05171b;
	font-weight: 400;
	margin-left: 10em;
	margin-right: 10em;
}
h4 {
	font-family: "Mulish";
	font-size: 2em;
	color: #05171b;
	flex-grow: 1;
	border: 3px;
	border-color: #05171b;
	text-align: center;
}

p {
	font-family: "Mulish";
	font-size: 1em;
	color: #05171b;
	flex-grow: 1;
	border: 3px;
	border-color: #05171b;
	text-align: center;
}
.explanation {
	display: flex;
	flex-direction: row;
}

img {
	padding: 20px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	background-color: #f7f7f7;
}
.img_tooltip {
	width: 300px;
	height: auto;
	position: fixed;
}
#skeTool {
	width: 300px;
	height: auto;
	background-color: #fff;
	border: 1px solid #e9eeef;
	border-radius: 12px;
	box-shadow: 0px 20px 30px rgba(5, 23, 27, 0.2);
	top: 0;
	left: 0;
}
#history {
	display: flex;
	align-items: center;
	justify-content: center;
}

.parallax {
	background-color: #000 repeat fixed 100%;
	background-size: cover;
}
.parallax-inner {
	/* padding-top: 10%; */
	padding-bottom: 20%;
}
.parallax-1 {
	background: url("icon factory.png") repeat fixed 100%;
	background-size: cover;
	color: aliceblue;
}
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 1em;
	background-color: #f7f7f7;
	/* padding: 40px; */
}

section {
	height: 400px;
}

footer {
	height: 20px;
}

.section-title-underlay {
	font-size: 3em;
	position: fixed;
	left: 50%;
	text-align: center;
	color: #05171b;
	text-transform: uppercase;
	top: 2em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.section-detail-underlay {
	font-size: 1.3em;
	line-height: 2em;
	position: fixed;
	left: 50%;
	text-align: center;
	color: #05171b;
	top: 12em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.iconGrid {
	position: fixed;
	top: 20em;
	display: flex;
	flex-flow: column wrap;
	flex-direction: row;
	justify-content: flex-start;
	margin: 1em 4em 1em 4em;
	/* transform: translate(0%, 0%); */
	fill: "currentColor";
	opacity: 1;
}

.tip_title {
	font-family: "Mulish";
	font-weight: 1000;
	font-size: 1.6em;
	line-height: 1.6em;
	text-align: left;
	color: #05171b;
	background-color: #dbff00;
	display: inline-block;
	font-style: italic;
}
.description_tooltip {
	font-family: "Mulish";
	font-weight: 300;
	font-size: 1.3em;
	text-align: left;
	line-height: 2em;
	color: #05171b;
	position: fixed;
	top: 0;
	left: 0;
}
.desc {
	background-color: #fff;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid #e9eeef;
	box-shadow: 0px 20px 30px rgba(5, 23, 27, 0.2);
	max-width: 30rem;
}
.highlightTag {
	font-family: "Mulish";
	font-weight: 800;
	font-size: 0.8em;
	text-align: left;
	line-height: 2.4em;
}
/* Define the animation using keyframes */
@keyframes scroll-color {
	0% {
		color: #ffc530;
	}
	50% {
		color: #dbff00;
	}
	100% {
		color: #40ffaf;
	}
}

/* Apply the animation to the text */
.scroll-color {
	animation: scroll-color 5s linear infinite;
	font-weight: 1000;
}
