body {
	font-family: "Nunito", sans-serif;
	font-family: "Mulish", sans-serif;
	background-color: #f7f7f7;
	font-family: "Mulish";
}

#canvas-container {
	position: relative;
}

h1,
h2,
h3,
h4,
p {
	margin: 0 6em;
	color: #05171b;
}

h1 {
	font-size: 4em;
	text-align: center;
}

h2 {
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 1.2em;
	line-height: 2em;
	font-weight: 400;
	text-align: left;
}
.Intro {
	margin: 3em 6em;
}
.card_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
	padding: 0px;
	gap: 26px;
	margin: 3em 6em;
}
.card {
	display: flex;
	flex-direction: column;
	margin: 0, 0, 0, 0;
	padding: 2em;
	gap: 13px;
	background: #f7f7f7;
	box-shadow: -10px -20px 20px rgba(255, 255, 255, 0.9),
		0px 20px 20px rgba(5, 23, 27, 0.1);
	border-radius: 20px;
	font-size: 1.2em;
	line-height: 2em;
	width: 280px;
}
.card_content {
	align-items: stretch;
}
.listTitle {
	font-weight: 800;
}
h4 {
	font-size: 1.2em;
	text-align: center;
	font-weight: 700;
	line-height: 2.4em;
}

p {
	font-size: 1.2em;
	text-align: left;
}

.tag {
	font-size: 1.2em;
	font-weight: 700;
	line-height: 2.4em;
	color: #05171b;
	background: #dbff00;
	padding: 0em 1.4em;
	border-radius: 2em;
}
#tag {
	margin-left: 10em;
	margin-right: 10em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.barTip {
	font-family: "Mulish";
	font-size: 1.2em;
	font-weight: 500;
	line-height: 2.4em;
	color: #05171b;
	text-align: left;
}
img {
	padding: 20px;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	background-color: #f7f7f7;
}
.img_tooltip {
	width: 300px;
	height: auto;
	position: fixed;
}
#skeTool {
	width: 300px;
	height: auto;
	background-color: #fff;
	border: 1px solid #e9eeef;
	border-radius: 12px;
	box-shadow: 0px 20px 30px rgba(5, 23, 27, 0.2);
	top: 0;
	left: 0;
}
#HISTORY {
	margin-top: 3em;
}
#history {
	position: absolute;
	opacity: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 50%;
	animation: move-svg 2s forwards;
	z-index: -1;
	animation-delay: 2s;
}
@keyframes move-svg {
	0% {
		top: 0px;
	}
	100% {
		top: calc(660px);
		opacity: 100%;
	}
}
.parallax {
	background-color: #000 repeat fixed 100%;
	background-size: cover;
}
.parallax-inner {
	/* padding-top: 10%; */
	padding-bottom: 20%;
}
.parallax-1 {
	background: url("icon factory.png") repeat fixed 100%;
	background-size: cover;
	color: aliceblue;
}
div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 1em;
	background-color: #f7f7f7;
	/* padding: 40px; */
}

section {
	height: 400px;
}

footer {
	height: 20px;
}

.section-title-underlay {
	font-size: 3em;
	font-weight: 700;
	position: fixed;
	left: 50%;
	text-align: center;
	color: #05171b;
	text-transform: uppercase;
	top: 2em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.section-detail-underlay {
	font-size: 1.3em;
	line-height: 2em;
	position: fixed;
	left: 50%;
	text-align: center;
	color: #05171b;
	top: 12em;
	transform: translate(-50%, -50%);
	opacity: 1;
}
.iconGrid {
	position: fixed;
	top: 20em;
	display: flex;
	flex-flow: column wrap;
	flex-direction: row;
	justify-content: flex-start;
	margin: 1em 4em 1em 4em;
	/* transform: translate(0%, 0%); */
	fill: "currentColor";
	opacity: 1;
}

.tip_title {
	font-family: "Mulish";
	font-weight: 1000;
	font-size: 1.6em;
	line-height: 1.6em;
	text-align: left;
	color: #05171b;
	background-color: #dbff00;
	display: inline-block;
	font-style: italic;
}
.description_tooltip {
	font-family: "Mulish";
	font-weight: 300;
	font-size: 1.2em;
	text-align: left;
	line-height: 2em;
	color: #05171b;
	position: fixed;
	top: 0;
	left: 0;
}
.desc {
	background-color: #fff;
	padding: 20px;
	border-radius: 12px;
	border: 1px solid #e9eeef;
	box-shadow: 0px 20px 30px rgba(5, 23, 27, 0.2);
	max-width: 30rem;
}
.highlightTag {
	font-family: "Mulish";
	font-weight: 800;
	font-size: 0.8em;
	text-align: left;
	line-height: 2.4em;
}

@keyframes rainbow-animation {
	to {
		background-position: 4500vh;
	}
}

.scroll-color {
	font-weight: 1000;
	background-image: linear-gradient(
		to right,
		#f899a3,
		#ffbb63,
		#dbff00,
		#53f4b6,
		#abd0d6,
		#8957f4,
		#f899a3
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow-animation 300s linear infinite;
}
#end {
	height: 30vh;
	background-color: #e9eeef;
	padding-top: 1vh;
	text-align: left;
	font-size: 1.2em;
	font-weight: 500;
}
.node_tooltip {
	position: absolute;
	font-family: "Mulish";
	font-size: 1.2em;
	font-weight: 500;
	line-height: 2.4em;
	color: #05171b;
	text-align: left;
	background-color: #fff;
	padding: 0 1em;
	border-radius: 12px;
	border: 1px solid #e9eeef;
	box-shadow: 0px 20px 30px rgba(5, 23, 27, 0.2);
	max-width: 30rem;
}
canvas {
	display: block;
}
