body {
	font-family: "Mulish", sans-serif;
	font-family: "Nunito", sans-serif;
	background-color: #f7f7f7;
}

#canvas-container {
	position: relative;
}

h1 {
	font-family: "Mulish";
	font-size: 4em;
	text-align: center;
	color: #000;
}

h2 {
	font-family: "Mulish";
	font-size: 3em;
	text-align: center;
	color: #011627;
	text-transform: uppercase;
}
h3 {
	font-family: "Mulish";
	font-size: 1.3em;
	line-height: 2em;
	text-align: center;
	color: #011627;
	font-weight: 400;
	margin-left: 4em;
	margin-right: 4em;
}

p {
	font-family: "Mulish";
	font-size: 2em;
	color: #011627;
	flex-grow: 1;
	border: 3px;
	border-color: #011627;
	text-align: center;
	padding: 2em;
}
.explanation {
	display: flex;
	flex-direction: row;
}
#history {
	display: flex;
	align-items: center;
	justify-content: center;
}

.parallax {
	background-color: #000 repeat fixed 100%;
	background-size: cover;
}
.parallax-inner {
	padding-top: 10%;
	padding-bottom: 20%;
}
.parallax-1 {
	background: url("icon factory.png") repeat fixed 100%;
	background-size: cover;
	color: aliceblue;
}
